{% extends 'main.html' %}

{% block content %}

  
<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h3>Password reset email sent </h3>

                <p>We,ve emailed you instructions for setting your password, if an account exists with the emaik you entered 
                    ou should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with, and check your span folder.
                </p>

                <br>
            </div>
        </div>
    </main>

{% endblock content %}